@model List<Lab.Capas.MVC.Models.ShipperView>

@{
    ViewBag.Title = "Shipper Index";
}

<h2>Shippers</h2>

<table class= "table table-hover">
    <tr>
        <th>ID</th>
        <th>Company</th>
        <th>Phone</th>
        <th>Options</th>
    </tr>
    @foreach(var Shipper in Model)
    {
        <tr>
            <td>@Shipper.ShipperID</td>
            <td>@Shipper.CompanyName</td>
            <td>@Shipper.Phone</td>
            <td>@Html.ActionLink("Update shipper","Update", new {id = Shipper.ShipperID }, new {@class = "btn btn-success" }) 
            @Html.ActionLink("Delete shipper", "Delete", new {id = Shipper.ShipperID }, new {@class = "btn btn-danger", onclick = "return confirm('Are you sure you want to delete this shipper?');" })</td>
        </tr>
    }
</table>
<div>@Html.ActionLink("Insert new shipper in table", "Insert", "Shipper", new { @class = "btn btn-success" })</div>